<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnimeTV | Watch anime online</title> 
    <meta name="description" content="AnimeTV - Watch anime online in high quality for free. Watch anime subbed, anime dubbed online free. Made with ♡ for anime users."> 
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/home.css') }}" type="text/css" media="all" />
    <style type="text/css" media="all">
    </style>
<script type='text/javascript' src='//goddessclad.com/82/39/d5/8239d5f324b7fadafada38332f0e3358.js'></script>
<script type='text/javascript' src='//goddessclad.com/82/39/d5/8239d5f324b7fadafada38332f0e3358.js'></script>
<script type='text/javascript' src='//goddessclad.com/82/39/d5/8239d5f324b7fadafada38332f0e3358.js'></script>
    <title>AnimeTV</title>
</head>
<body>
    <main id="nav-bar">
        <section id="nav-bar-section">
            <span id="closeNav" onclick="closeNav()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
                </svg></span><br>
            
            <ul>
                
                <hr><li>
                    <a href="/">Home</a>
                </li>
                <hr><li>
                    <a href="/top">Top Animes</a>
                </li>
                <hr>
            </ul>
        </section>
    </main>
    <nav>
        <span id="navopen" onclick="navopen()"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg></span>
        <div class="tittle">
            <h2 style="text-align: center">AnimeTV</h2>
        </div>
    </nav>
    
    <form method="post" action="" class="form">
        <input id="searchInp" type="text" autocomplete="off" placeholder="Enter Anime Name" />
        <div>
            <button type="submit">Search</button>
        </div>
    </form>
    <footer>
        <br>
        <h2 style="text-align: center;text-decoration: underline">AnimeTV</h2>
        <br>
        <p>This website is created by MR.Arijit Paine</p>
        <p style="margin-top:5px;text-align: center;">Source Code of This Website <a href="https://github.com/AP165/animeTV">https://github.com/AP165/animeTV</a></p>
        <br>
        <p style="color: #A4A4A4;text-align: center"><strong>Disclaimer:</strong> This site does not store any files on its server. All contents are provided from <a href="gogoanime.lol">gogoanime.lol</a>.</p>
        <br><br><br><br><br><br><br>
        <script type="text/javascript">
	atOptions = {
		'key' : '51db04cfe98acdbe7994755e78cd5460',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/51db04cfe98acdbe7994755e78cd5460/invoke.js"></scr' + 'ipt>');
</script>
        <script type="text/javascript">
	atOptions = {
		'key' : '174140615f4b578a9a07fc7430ca8474',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/174140615f4b578a9a07fc7430ca8474/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '1d256e7b3e0943ad1653895e28916445',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/1d256e7b3e0943ad1653895e28916445/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : 'c13306056221a451315ba694294adef3',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/c13306056221a451315ba694294adef3/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '80817e1bafa99afc019263386b821fa8',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/80817e1bafa99afc019263386b821fa8/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type='text/javascript' src='//goddessclad.com/82/39/d5/8239d5f324b7fadafada38332f0e3358.js'></script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '3e7f5fdcdb128c3f9f6771da65cdff0e',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/3e7f5fdcdb128c3f9f6771da65cdff0e/invoke.js"></scr' + 'ipt>');
</script>
        
	    <script type="text/javascript">
	atOptions = {
		'key' : '51db04cfe98acdbe7994755e78cd5460',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/51db04cfe98acdbe7994755e78cd5460/invoke.js"></scr' + 'ipt>');
</script>
        <script type="text/javascript">
	atOptions = {
		'key' : '174140615f4b578a9a07fc7430ca8474',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/174140615f4b578a9a07fc7430ca8474/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '1d256e7b3e0943ad1653895e28916445',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/1d256e7b3e0943ad1653895e28916445/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : 'c13306056221a451315ba694294adef3',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/c13306056221a451315ba694294adef3/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '80817e1bafa99afc019263386b821fa8',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/80817e1bafa99afc019263386b821fa8/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type='text/javascript' src='//goddessclad.com/82/39/d5/8239d5f324b7fadafada38332f0e3358.js'></script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '3e7f5fdcdb128c3f9f6771da65cdff0e',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/3e7f5fdcdb128c3f9f6771da65cdff0e/invoke.js"></scr' + 'ipt>');
</script>
	    
	    <script type="text/javascript">
	atOptions = {
		'key' : '51db04cfe98acdbe7994755e78cd5460',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/51db04cfe98acdbe7994755e78cd5460/invoke.js"></scr' + 'ipt>');
</script>
        <script type="text/javascript">
	atOptions = {
		'key' : '174140615f4b578a9a07fc7430ca8474',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/174140615f4b578a9a07fc7430ca8474/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '1d256e7b3e0943ad1653895e28916445',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/1d256e7b3e0943ad1653895e28916445/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : 'c13306056221a451315ba694294adef3',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/c13306056221a451315ba694294adef3/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '80817e1bafa99afc019263386b821fa8',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/80817e1bafa99afc019263386b821fa8/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type='text/javascript' src='//goddessclad.com/82/39/d5/8239d5f324b7fadafada38332f0e3358.js'></script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '3e7f5fdcdb128c3f9f6771da65cdff0e',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/3e7f5fdcdb128c3f9f6771da65cdff0e/invoke.js"></scr' + 'ipt>');
</script>
	    
	    <script type="text/javascript">
	atOptions = {
		'key' : '51db04cfe98acdbe7994755e78cd5460',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/51db04cfe98acdbe7994755e78cd5460/invoke.js"></scr' + 'ipt>');
</script>
        <script type="text/javascript">
	atOptions = {
		'key' : '174140615f4b578a9a07fc7430ca8474',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/174140615f4b578a9a07fc7430ca8474/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '1d256e7b3e0943ad1653895e28916445',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/1d256e7b3e0943ad1653895e28916445/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : 'c13306056221a451315ba694294adef3',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/c13306056221a451315ba694294adef3/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '80817e1bafa99afc019263386b821fa8',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/80817e1bafa99afc019263386b821fa8/invoke.js"></scr' + 'ipt>');
</script>
        
        <script type='text/javascript' src='//goddessclad.com/82/39/d5/8239d5f324b7fadafada38332f0e3358.js'></script>
        
        <script type="text/javascript">
	atOptions = {
		'key' : '3e7f5fdcdb128c3f9f6771da65cdff0e',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://goddessclad.com/3e7f5fdcdb128c3f9f6771da65cdff0e/invoke.js"></scr' + 'ipt>');
</script>
        
    </footer>
    <script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
    <script src="{{url_for('static',filename='js/home.js')}}" type="text/javascript" charset="utf-8"></script>
</body>
</html>


















